<footer>

  <ul class="listLinks">
    <li><a href="{{ path('app_home')}}">Accueil</a></li>
    <li>
    <a href="{{ path('app_service_index') }}">Prestations
    </a>
    </li>
    <li>
    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_rdv_show') }}">Agenda</a>
    {% elseif app.user %}
    <a href="{{ path('app_rdv_appointements') }}">Réservation</a>
    {% else %}
    <a href="{{ path('app_login') }}">Réservation</a>
    {% endif %}
    </li>


    <li><a href="{{ path('contact')}}">Contact</a></li>
    <li>
      {% if is_granted("ROLE_ADMIN") %}
      <a href="{{ path('app_admin') }}">Mon espace</a>  
      {% elseif app.user and app.user.getRdv()|length > 0 %}
      <a href="{{ path('app_rdv_my_appointments') }}">Mes rendez-vous</a>
      {% endif %}
    </li>   
    <li class="userFooter">
      {% if app.user %}
      {# Code à exécuter si un utilisateur est connecté #}
      <a href="{{ path('app_logout') }}">Se déconnecter</a>
      {% else %} 
      {# Code à exécuter si aucun utilisateur n'est connecté#}
      <a href="{{ path('app_login') }}">Se connecter</a>
      {% endif %}
  </li> 
  </ul> 

  <ul class="">
    <li><a href="https://fr.vecteezy.com/photos-gratuite">Banque de photos par Vecteezy</a></li>
    <li><a href="">Conditions générales d'utilisation</a></li>
    <li><a href="">Lien vidéo doula</a></li>

  </ul>
  <div class="brandContainer">
    <div class="footerBrand">
      <img src="../images/flower_2859751.png" alt="">
    </div>
    <span class="siteName">Mina Louve Doula
    </span>
  </div> 
  <ul class="adress">
  <li>mina.louve@gmail.com</li>
  <li>1 rue des lilas</li>
  <li>11230 Montréal</li>
  </ul>
  
</footer>