{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
<section>
    <div class="serviceContainer">
        <div class="serviceBgcImg">
            <h1>{{ service.name }}</h1>
        </div>
                
        <div class="serviceBloc">
            <img src="../images/meditation.jpg" alt="">
            <p>{{ service.description }}</p>    
        </div>
    </div>
</section>

    {# <a href="{{ path('app_service_index') }}">back to list</a>

    <a href="{{ path('app_service_edit', {'id': service.id}) }}">edit</a>

    {{ include('service/_delete_form.html.twig') }} #}
{% endblock %}
