{% extends 'base.html.twig' %}

{% block title %}Rdv{% endblock %}

{% block body %}
    <h1>Rdv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rdv.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ rdv.createdAt ? rdv.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ rdv.status ? rdv.status|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>DayHour</th>
                <td>{{ rdv.dayHour ? rdv.dayHour|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ rdv.duration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rdv_index') }}">back to list</a>

    <a href="{{ path('app_rdv_edit', {'id': rdv.id}) }}">edit</a>

    {{ include('rdv/_delete_form.html.twig') }}
{% endblock %}
