{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="userDetailContainer">
    <div class="userInfo">
        <div class="userHeader">
            {{ include('user/_delete.html.twig') }}
            <h1>{{ user.firstName }} {{ user.name }}</h1>
        </div>
        <ul class="info">
            <li>Téléphone : {{ user.phone }} </li>
            <li>Email : {{ user.email }} </li>
        </ul>
        {{ newNoteForm|raw }} 
        {{ include('note/show.html.twig') }}

    </div>
</div>
{% endblock %}